.toolbar {
    display: flex;
    // !!! FIXME: harcoded!
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 20px;

    &Sort {
        flex-grow: 1;
        margin-right: 20px;
        cursor: not-allowed;
        opacity: 0.5;

        &Label {
            margin-right: 20px;
        }

        &List {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;

            &Item {
                // margin: 0 10px;
                transition: 0.25s;

                // &:hover {
                //     color: var(--color-primary);
                //     cursor: pointer;
                // }
            }
        }
    }

    &Views {
        &Item {
            height: 30px;
            color: lightslategray;
        }
    }
}

.placeholder {
    margin: 100px 0;
}

.catalog {
    margin-right: 40px;
}
