@import "shared/styles/mixins.scss";

.root {
    &Steps {
        margin-bottom: 40px;
    }
}

.content {
    &Section {
        margin-bottom: 40px;

        &Description {
            display: block;
            margin-bottom: 20px;
        }
    }
}

.sidebar {
    &Card {
        margin-left: 40px;
        text-align: center;
        border-radius: 10px;

        @include box-shadow-bottom();

        & + & {
            margin-top: 20px;
        }
    }

    h4 {
        margin: 0;
    }

    &Section {
        padding: 40px;

        &Detail {
            padding-top: 4px;
        }
    }

    &Main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.wallet {
    padding: 20px;
    background: var(--color-accent);
    border-radius: 25px;
}

.delivery {
    min-height: 500px;
    overflow: hidden;
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 25px;

    &Form {
        padding: 40px;
        // background: white;
    }

    &Map {
        background: white;
    }
}

.cart {
    margin-top: 16px;

    &Container {
        padding: 20px;
    }

    &Item {
        cursor: pointer !important;
    }
}
