.root {
    &Card {
        cursor: default;
    }
}

.icon {
    background-color: var(--color-accent);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Description {
        // margin-top: 30px;
        color: gray;
    }

    &Price {
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.asSecondary {
    filter: grayscale(100%);
    opacity: 0.5;
}
