.bookRow {
    // padding: 20px;

    &Icon {
        background-color: var(--color-accent);
    }

    &Details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &Description {
            // margin-top: 30px;
            color: gray;
        }

        &Price {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}
