@import "shared/styles/mixins.scss";

.root {
    margin-left: 40px;
    text-align: center;
    border-radius: 10px;

    @include box-shadow-bottom();

    & + & {
        margin-top: 20px;
    }

    h4 {
        margin: 0;
    }
}

.section {
    padding: 40px;
}

.details {
    padding-top: 4px;
}

.cart {
    margin-top: 16px;

    &Container {
        padding: 20px;
    }

    &Item {
        cursor: pointer !important;
    }
}
