@import "shared/styles/mixins.scss";

.root {
    &Steps {
        margin-bottom: 40px;
    }
}

.content {
    &Section {
        margin-bottom: 40px;

        &Description {
            display: block;
            margin-bottom: 20px;
        }
    }
}

.recommends {
    &Feed {
        padding-bottom: 20px;
        overflow: auto;

        &Item {
            margin: 0;
        }
    }
}

.placeholder {
    padding: 160px 0;
    color: lightslategray;
    text-align: center;
    background: var(--color-accent);
    border-radius: 25px;
}
