.root {
    // display: inline-flex;
    // flex-direction: column;
    // flex-grow: 1;
    // height: 100%;
    // FIXME: resolve later
    min-height: 86vh;
    padding: 40px 10%;
}

.title {
    margin-top: 40px;
    text-align: center;
}

.catalog {
    margin-top: 60px;

    &Placeholder {
        margin: 100px 0;
    }
}
