.root {
    // display: inline-flex;
    // flex-direction: column;
    // flex-grow: 1;
    // height: 100%;
    // FIXME: resolve later
    min-height: 86vh;
    padding: 40px 10%;
}

.title {
    text-align: center;
}

.catalog {
    margin-top: 60px;

    &Placeholder {
        margin: 100px 0;
    }
}
// FIXME: use grids!!!
.grid {
    display: flex;
    flex-wrap: wrap;

    &Item {
        // padding: 10px;
        // FIXME: resolve
        margin: 10px;

        &ImgPlaceholder {
            padding: 100px 0;
            font-size: 100px;
        }
    }
}
