@import "shared/styles/mixins.scss";

.root {
    // display: inline-flex;
    // flex-direction: column;
    // flex-grow: 1;
    // height: 100%;
    // FIXME: resolve later
    min-height: 86vh;
    padding: 40px 10%;

    &Banner {
    }

    &Categories {
        margin-top: 40px;
    }
}

.title {
    margin-top: 20px;
    text-align: center;
}

.banner {
    &Item {
        height: 320px;
        text-align: center;
        background: #364d79;

        h3 {
            line-height: 320px;
            color: #ffffff;
        }
    }
}

.categories {
    display: flex;
    justify-content: space-between;

    &Item {
        position: relative;
        width: 30% !important;
        // height: 145px !important;
        height: 292px !important;
        padding: 40px;
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        background: var(--color-accent);
        border-radius: 10px;
        transition: 0.25s;

        &:hover {
            @include box-shadow-bottom();
        }

        &Cover {
            position: absolute;
            bottom: -100px;
            left: 50%;
            font-size: 200px;
            transform: translateX(-50%);
        }
    }
}
