@import "shared/styles/mixins.scss";

.root {
    &Banner {
    }

    &Section {
        margin: 80px 0;
    }
}

.title {
    margin-top: 20px;
    text-align: center;
}

.banner {
    &Item {
        height: 320px;
        text-align: center;
        background: #364d79;

        h3 {
            line-height: 320px;
            color: #ffffff;
        }
    }
}

.categories {
    margin-top: 40px;

    &Item {
        position: relative;
        // height: 145px !important;
        height: 292px !important;
        padding: 40px;
        overflow: hidden;
        text-align: center;
        background: var(--color-accent);
        border-radius: 10px;
        transition: 0.25s;

        &:hover {
            @include box-shadow-bottom();
        }

        &Cover {
            position: absolute;
            bottom: -100px;
            left: 50%;
            font-size: 200px;
            transform: translateX(-50%);
        }
    }
}

// FIXME: DRY!
.authors {
    margin-top: 40px;

    &Item {
        position: relative;
        // height: 145px !important;
        height: 180px !important;
        padding: 30px 40px;
        overflow: hidden;
        text-align: center;
        background: var(--color-accent);
        border-radius: 50%;
        transition: 0.25s;

        &:hover {
            @include box-shadow-bottom();
        }

        &Cover {
            position: absolute;
            bottom: -40px;
            left: 50%;
            font-size: 100px;
            transform: translateX(-50%);
        }
    }
}
