@mixin box-shadow-bottom($rad: 8px) {
    box-shadow: 0 2px $rad #cdcece;
}

@mixin box-shadow-bottom-inset() {
    box-shadow: inset 0 2px 8px #cdcece;
}

@mixin align-center-absolute() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
