@import "shared/styles/mixins.scss";

.header {
    z-index: 10;
    color: #242424;
    background: #ffffff !important;

    @include box-shadow-bottom();
}

.content {
    padding: 50px 10%;
    background: #ffffff;
}

.h100 {
    height: 100%;
}

.footer {
    text-align: center;
}
