@import "shared/styles/mixins.scss";

// FIXME: move to vars
:root {
    --color-dark: #242424;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 0 10% !important;
    color: var(--color-dark);
    background: #ffffff !important;
    // FIXME: Поправить анимацию хедера
    transition: top, position, z-index 1s linear;

    @include box-shadow-bottom();

    &Sticky {
        position: absolute;
        z-index: 10;
        background: transparent !important;
        box-shadow: none;

        h1 {
            color: #ffffff;
        }

        svg {
            filter: invert(100%);
        }

        a {
            color: #ffffff;
        }
    }
}

.logo {
    display: flex;
    align-items: center;

    &Title {
        padding-bottom: 4px;
        padding-left: 10px;
    }
}

.nav {
    margin-left: 20px;

    &Item {
        display: inline-block;
        min-width: 120px;
        padding: 0 20px;
        color: var(--color-dark);
        text-align: center;
    }
}

.content {
    // padding: 0 10%;
    background: #ffffff;
}

.h100 {
    height: 100%;
}

.footer {
    text-align: center;
}
