@import "shared/styles/mixins.scss";

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 144px;
    padding: 18px;
    font-size: 18px;
    color: gray;
    background: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: 25px;
    transition: 0.25s;

    &:hover {
        @include box-shadow-bottom();
    }
}
