.bookCard {
    position: relative;
    // padding: 10px;
    // FIXME: resolve
    // margin: 10px;
    cursor: default;

    &Description {
        // position: relative;
        // display: relative;
        // flex-direction: column;
        // flex-grow: 1;
        // justify-content: space-between;
        // height: 54px;
        padding-bottom: 64px;
    }

    &Actions {
        position: absolute;
        bottom: 14px;
        // !!! FIXME: RESOLVE LATER!
        left: calc((334px - 254px) / 2);
        // left: 50%;
        // transform: translateX(-50%);
    }

    &ImgPlaceholder {
        padding: 100px 0;
        font-size: 100px;
    }

    &Price {
        display: block;
        font-size: 20px;
    }

    &Small .bookCard {
        &ImgPlaceholder {
            padding: 80px 0;
        }
    }

    &Mini {
        margin: 0;

        .bookCard {
            &ImgPlaceholder {
                padding: 40px 0;
                font-size: 70px;
            }
        }
    }
}
