.root {
    position: relative;
    // padding: 10px;
    // FIXME: resolve
    // margin: 10px;
    cursor: default;
}

.price {
    display: block;
    font-size: 20px;
}

.asSecondary {
    filter: grayscale(100%);
    opacity: 0.5;
}
