@import "shared/styles/mixins.scss";

.errorRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    // text-align: center;
}

.content {
    margin-top: 30px;
}

.card {
    &Main {
        display: flex;
    }

    &Gallery {
        width: 450px;

        &Item {
            text-align: center;
            user-select: none;
            // background: #364d79;
            background: var(--color-accent);

            h3 {
                line-height: 640px;
                color: #000000;
            }
        }

        li > * {
            // FIXME: temp!
            // height: 12px !important;
            filter: invert(100%) opacity(50%);
        }
    }

    &Info {
        margin-top: 40px;
        margin-left: 40px;

        &Props {
            // display: flex;
            // flex-direction: column;

            &Title {
                font-size: 20px;
            }
        }

        &Description {
            margin-top: 20px;
        }
    }
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding: 30px;

    @include box-shadow-bottom();

    &Price {
        font-size: 24px;
    }

    &Details {
        color: grey;

        &Item {
            margin: 8px 0;
        }
    }

    &Actions {
        margin-top: 20px;
    }
}

.recommendations {
    margin: 80px 0;

    &Feed {
        padding-bottom: 20px;
        margin-top: 20px;
        overflow: auto;
    }
}
