@import "shared/styles/mixins.scss";

.root {
    background: transparent;
    // border: 1px solid var(--color-accent);

    &Inner {
        padding: 20px;

        @include box-shadow-bottom();
    }
}

.title {
    text-align: center;
}

.section {
    padding: 10px;
    // FIXME: temp !!!
    label {
        width: 100%;
        // border: 1px solid red;
    }
}
