@import "shared/styles/mixins.scss";

.root {
    padding: 40px;
    text-align: center;

    @include box-shadow-bottom();
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
